<nav class="ms-auto me-auto">
    <div class="ms-auto me-auto Navbar-center">
        <h1 class="ps-4" id="logo">LOGO</h1>
        <div class="Navbar nav-right flexRow">
            <ul class="flexRow mt-auto mb-auto">
                <li  class="pe-4"><a href="/agents">Become a courier</a></li>
                <li class="pe-4"><a href="#">Contact Sales</a></li>
            </ul>
            <a href="/details"><button class="m-2 me-4 btn btn-light myBtn" type="button">Order Delivery</button></a>
            <div class="profile-dropdown">
                <button id="profile-button"><i class="fa fa-user" style="color: white;"></i></button>
                <div id="dropdown-content-profile" class="dropdown-content-profile">
                    <a href="/orderhistory"><button id="view-orders">View Previous Orders</button></a>
                    <a href="/signin"><button id="logout">Logout</button></a>
                </div>
            </div>
        </div>
    </div>
</nav>